@font-face {
	font-family: 'Socialico';
	src: url('font/Socialico.eot');
	src: url('font/Socialico.eot?#iefix') format('eot'), 
  		url('font/Socialico.woff') format('woff'), 
  		url('font/Socialico.ttf') format('truetype'), 
  		url('font/Socialico.svg#Socialico') format('svg');
}
@font-face{
    font-family:'OpenSans-Light';
    src: url('font/OpenSans-Light.eot');
	src: url('font/OpenSans-Light.eot?#iefix') format('eot'), 
  		 url('font/OpenSans-Light.woff') format('woff'), 
  		 url('font/OpenSans-Light.ttf') format('truetype'), 
  		 url('font/OpenSans-Light.svg#Socialico') format('svg');
}
@font-face{
   font-family:'OpenSans-Regular';
    src: url('font/OpenSans-Regular.eot');
	src: url('font/OpenSans-Regular.eot?#iefix') format('eot'), 
  		 url('font/OpenSans-Regular.woff') format('woff'), 
  		 url('font/OpenSans-Regular.ttf') format('truetype'), 
  		 url('font/OpenSans-Regular.svg#Socialico') format('svg');
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color:#EEFFFF;
	background-color:#FFFFFF;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	padding-bottom:0px;
	margin-bottom:0px;
	padding-top: 60px;
   	/*padding-bottom: 40px;*/
}
h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 3em;
	line-height: 1.2em;
}
h2{
	font-family: 'OpenSans-Light', Georgia, Times, serif;
	font-family: 'Lobster', Georgia, Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 10px;
	margin-top: 15px;
	color:#48322a;
	color:#333;
}
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.marT30{
	margin-top:30px;	
}
.der{
	float:right;	
}
.limpiar{
	clear:both;
}
.alineaC{
	text-align:center;
}
#ocultoK,#oculto,.oculto{
	display:none;	
}
a.icoMio,.icoMioNo{
	opacity:0.4;
	padding:0px 4px 0px 3px;
	margin:5px 0px 5px 0px;
	border-radius:50px;
	border:1px solid #888;
	display:inline-block;
}
.icoMioNo{
	cursor:not-allowed;
}
a.icoMio:hover{
	opacity:1;
	border:1px solid #888;
}
/*************TITULO MENU USUARIO*****************/
.titulo {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1.9em;
	line-height: 1.1em;
	/*color:#97C0D1;*/
	color:#97C0D1;
	width:195px;
	padding-top:13px;
	height:30px;
	float:left;
	background:right center no-repeat url(../imgagen/logo.png);
}
.tituloP {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1em;
	line-height: 1.2em;
	color:#FFF;
	padding-top:13px;
	height:30px;
	float:left;
}
.usuario{
	margin-left:10px;
	padding-top:10px;
	width:220px;
	float:left;
	color:#999 !important;
}
.usuario a{
	color:#999;
	text-decoration:none !important;
}
.usuario b,.usuario a:hover{
	font-weight:normal;
	color:#FFF;	
}

/**************MENUBOTON*****************************************/
.menuBoton{
  padding: 0px 0px;
  /*margin-bottom: 30px;*/
  background-color:#48322a;
  background-color:#97C0D1;
  background-color:#eccfc4;
  background-color: #f2f2f2;
  /****EDITADO****/
  color:#97C0D1;
  color:#48322a;
  color:#444;
  width:auto !important;
  border-bottom: 1px solid #DDD;
}
.separadorInterior{
	padding:15px 0px;
}
.menuBoton h1 {
	/*******ÇEDITADO***********/
  margin-bottom: 15px;
  font-size: 50px;
  /*******************/
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
.menuBoton p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}
.btn-directo{
	margin:5px;
}
.btn-kalifa{
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #224451;
  	background-image: -moz-linear-gradient(top, #224451, #182F38);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#224451), to(#182F38));
  	background-image: -webkit-linear-gradient(top, #224451, #182F38);
  	background-image: -o-linear-gradient(top, #224451, #182F38);
  	background-image: linear-gradient(to bottom, #224451, #182F38);
  	background-repeat: repeat-x;
  	border-color: #182F38;
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.btn-kalifa.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-kalifa:hover,
.btn-kalifa:active,
.btn-kalifa.active,
.btn-kalifa.disabled,
.btn-kalifa[disabled] {
  color: #ffffff;
  background-color: #182F38;
  *background-color: #151515;
}

.btn-kalifa:active,
.btn-kalifa.active {
  background-color: #080808 \9;
}
.btn-kalifa .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.separaMenu{
	width:auto;
	margin:0px 0px 40px;
	padding:0px;
	border-top:1px solid #fff;
	background-color:#F2F2F2;
	box-shadow:0px 2px 10px rgba(0,0,0,0.6);
}
.botonMenu{
	width:18px;
	padding:2px 0px 6px;
	margin:5px auto 0px;
	cursor:pointer;
}
.iconMenu{
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px 0px;
	background-color: whiteSmoke;
	background-image: url('../img/glyphicons-halflings.png');
	background-position: 14px 14px;
	background-repeat: no-repeat;
	border-bottom-color: #333;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: #333;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #333;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #333;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px 0px;
	color: #333;
	cursor: pointer;
	display: block;
	float: none;
	font-family: OpenSans-Regular;
	font-size: 14px;
	height: 2px;
	line-height: 14px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	vertical-align: text-top;
	width: 18px;	
}
.icoMenuC{
	margin-left:5px;
	display:inline-block;
}

/**************************Kaliforniazo Principal**********************************************/
.encima img{
	/*opacity:1;*/
}
.encima img:hover{
	/*opacity:1;
	box-shadow:rgba(0, 0, 0, 0.8) 4px 4px 10px 0px;*/
}
.filaKaP{
	border-top:1px solid #888;	
}
p.fecha,p.autorP,p.iconos{
	/*padding:0px 0px 0px;
	margin:0px;*/
	font-weight: 400;
    font-style: italic;
    font-size: 0.875em;
    line-height: 1.7857142857142858em;
    text-indent: 0px;
	color:#97C0D1;
	color:#999;	
}
p.iconos{
	padding:0px 0px 0px;
	margin:0px 0px 0px;
}
img.filaKaPImg{
	border-bottom:7px solid #97C0D1;
	max-width:100%;
	width:100%;
}
.proximamente{
	display:inline-block;
	margin: 10px 0px 0px 0px;
	font-size: 1.5em;
}
h2.proximamente{
	margin: -10px 0px 0px 0px;
	font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.4em;
}
/**************************Kaliforniazo Kaliforniazo**********************************************/
p.descripcion {
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 8px;
	color:#48322a;
	color:#444;
}
p.autor {
    text-align: right;
    font-weight: 400;
    font-style: italic;
    font-size: 0.875em;
    line-height: 1.7857142857142858em;
    text-indent: 0px;
	color:#48322a;
	color:#444;
}
.span4 img{
	border-bottom:7px solid #97C0D1;
	max-width:100%;
	width:100%;
}
/****************************PIE*****************************/
footer p{
	margin-bottom:0px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .menuBoton{
	  margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .menuBoton,.separaMenu{
	  margin-right: -20px;
	  margin-left: -20px;  
  }
  .marT30{
	margin-top:30px;	
  }
}