@font-face {
	font-family: 'Socialico';
	src: url('font/Socialico.eot');
	src: url('font/Socialico.eot?#iefix') format('eot'), 
  		url('font/Socialico.woff') format('woff'), 
  		url('font/Socialico.ttf') format('truetype'), 
  		url('font/Socialico.svg#Socialico') format('svg');
}
@font-face{
    font-family:'OpenSans-Light';
    src: url('font/OpenSans-Light.eot');
	src: url('font/OpenSans-Light.eot?#iefix') format('eot'), 
  		 url('font/OpenSans-Light.woff') format('woff'), 
  		 url('font/OpenSans-Light.ttf') format('truetype'), 
  		 url('font/OpenSans-Light.svg#Socialico') format('svg');
}
@font-face{
   font-family:'OpenSans-Regular';
    src: url('font/OpenSans-Regular.eot');
	src: url('font/OpenSans-Regular.eot?#iefix') format('eot'), 
  		 url('font/OpenSans-Regular.woff') format('woff'), 
  		 url('font/OpenSans-Regular.ttf') format('truetype'), 
  		 url('font/OpenSans-Regular.svg#Socialico') format('svg');
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color:#EEFFFF;
	background-color:#F2F2F2;
	background-color:#FFF;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	padding-bottom:0px;
	margin-bottom:0px;
	padding-top: 80px;
   	/*padding-bottom: 40px;*/
}
#principalK{
	/*border-top:1px solid #ddd;
	padding-top:50px;*/
}
.carga,#fondo,.fondoM{
	width:100%;
	height:100%;
	position:static;
	position:fixed;
	text-align:center;
	top:0;
	left:0;
	z-index:-100;
}
.carga{
	z-index:2000;
	background-color:#f2f2f2;
	text-align:left;
	padding:20% 0px;
}
.carga h2{
	color:#888;
}
#fondo img{
	width:100%;
	margin: 0px auto;
	height:100%;
}
.fondoM{
	height:100px;
	
	overflow:hidden;
}
.fondoM img{
	width:100%;	
}

.hero-p{
	background-color: transparent;
	padding: 0px 0px 50px;
	color: #444;
	margin: 20px 0px 0px;
}
.hero-p h1{
	color:#444;
	font-size:34px;	
}


input.index{
	padding:10px;
	display:block;
	font-size:18px;
}
.hero-unit .titulo{
	margin-left:-10px;	
}
.marT20x100{
	margin-top:5%;	
}
h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 3em;
	line-height: 1.2em;
}
h2{
	font-family: 'OpenSans-Light', Georgia, Times, serif;
	font-family: 'Lobster', Georgia, Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 10px;
	margin-top: 15px;
	/*color:#48322a;
	color:#333;*/
}
img{
	border:none;	
}
.show-grid {
	margin-top: 0px;
	margin-bottom: 0px;
}
.usuario a{
	cursor:pointer;	
}
#ocultoK,#oculto,.oculto{
	display:none;	
}
a.icoMio,.icoMioNo{
	opacity:0.4;
	padding:0px 4px 0px 3px;
	margin:5px 0px 5px 0px;
	border-radius:50px;
	border:1px solid #888;
	display:inline-block;
}
.icoMioNo{
	cursor:not-allowed;
}
a.icoMio:hover{
	opacity:1;
	border:1px solid #888;
}
/*************TITULO MENU USUARIO*****************/
.titulo {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1.9em;
	line-height: 1.1em;
	/*color:#97C0D1;*/
	color:#97C0D1;
	width:195px;
	padding-top:13px;
	height:30px;
	float:left;
	background:right center no-repeat url(../imgagen/logo.png);
}
.tituloP {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1em;
	line-height: 1.2em;
	color:#FFF;
	padding-top:13px;
	height:30px;
	float:left;
}
.usuario{
	margin-right:10px;
	padding-top:23px;
	text-align:right;
	color:#999 !important;
}
.usuario a{
	color:#999;
	text-decoration:none !important;
}
.usuario b,.usuario a:hover{
	font-weight:normal;
	color:#FFF;	
}

/**************MENUBOTON*****************************************/
.menuBoton{
  padding: 0px 0px;
  /****EDITADO****/
  background-color: #f2f2f2;
  color:#97C0D1;
  color:#48322a;
  color:#444;
  
  width:auto !important;
  border-bottom: 1px solid #DDD;
}
.separadorInterior{
	padding: 0px 0px;
	border-bottom: 1px solid #ddd;
}
.menuBoton h1 {
	/*******ÇEDITADO***********/
  margin-bottom: 15px;
  font-size: 50px;
  /*******************/
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
.menuBoton p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}
.btn-directoPri,.btn-directo,.btn-directoP,.btn-directoF{
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
	border: 0px;
	border-left: 1px solid #ddd;
	/*border-right: 1px solid #CCC;color:#FFF;*/
	text-align: center;
	width: 140px;
	padding:12px 0px;
	display:block;
	float:left;
	
}
.btn-directoF{
	border-right: 1px solid #ddd;
	/*border:0px;*/
}
.btn-kalifa{
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #224451;
  	background-image: -moz-linear-gradient(top, #224451, #182F38);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#224451), to(#182F38));
  	background-image: -webkit-linear-gradient(top, #224451, #182F38);
  	background-image: -o-linear-gradient(top, #224451, #182F38);
  	background-image: linear-gradient(to bottom, #224451, #182F38);
  	background-repeat: repeat-x;
  	border-color: #182F38;
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.btn-kalifa.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-kalifa:hover,
.btn-kalifa:active,
.btn-kalifa.active,
.btn-kalifa.disabled,
.btn-kalifa[disabled] {
  color: #ffffff;
  background-color: #182F38;
  *background-color: #151515;
}

.btn-kalifa:active,
.btn-kalifa.active {
  background-color: #080808 \9;
}
.btn-kalifa .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.separaMenu{
	width:auto;
	margin:0px 0px 0px;
	padding:0px;
	border-top:1px solid #fff;
	background-color:#F2F2F2;
	box-shadow:0px 2px 10px rgba(0,0,0,0.6);
	box-shadow:0px 2px 10px #666;
	cursor:pointer;
	border-bottom: 1px solid #DDD;
}
.botonMenu{
	width:18px;
	padding:0px 0px 6px;
	margin:5px auto 0px;
	cursor:pointer;
}
.iconMenu{
	display: block;	
	width: 18px;
	height: 2px;
	background-color: #888;
	-webkit-border-radius: 1px;
	 -moz-border-radius: 1px;
		  border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin-top: 3px;
}
.icoMenuC{
	margin-left:5px;
	display:inline-block;
}

/**************************Kaliforniazo Principal**********************************************/
.encimaT{
	border-top:solid 0px #ddd;
	padding-top:0px;
	margin-top:0px;
}
.encima img{
	/*opacity:1;*/
}
.encima img:hover{
	/*opacity:1;
	box-shadow:rgba(0, 0, 0, 0.8) 4px 4px 10px 0px;*/
}
.filaKaP{
	border-top:1px solid #888;	
}
p.fecha,p.autorP,p.iconos{
	/*padding:0px 0px 0px;
	margin:0px;*/
	font-weight: 400;
    font-style: italic;
    font-size: 0.875em;
    line-height: 1.7857142857142858em;
    text-indent: 0px;
	color:#97C0D1;
	color:#999;	
}
p.iconos{
	padding:0px 0px 0px;
	margin:0px 0px 0px;
}
img.filaKaPImg{
	border-bottom:7px solid #97C0D1;
	max-width:100%;
	width:100%;
}
.proximamente{
	display:inline-block;
	margin: 10px 0px 0px 0px;
	font-size: 1.5em;
}
h2.proximamente{
	margin: -10px 0px 0px 0px;
	font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.4em;
}
/**************************Kaliforniazo Kaliforniazo**********************************************/
p.descripcion {
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 8px;
	color:#48322a;
	color:#444;
}
p.autor {
    /*text-align: right;*/
    font-weight: 400;
    font-style: italic;
    font-size: 0.875em;
    line-height: 1.7857142857142858em;
	/*margin-bottom:5px;*/
    text-indent: 0px;
	color:#48322a;
	color:#444;
	color:#999;
	border-bottom:1px solid #ccc;
}
.span12 textarea{
	width:95%;
}
.imgKali{
	max-width:100%;
	width:100%;
}
.kalDI, .kalII, .kalDI1, .kalII1, .kalD, .kalI, .kalD1, .kalI1, .kalDR, .kalIR{
	float:left;
	padding:0px 0px 0px 0px;
	border:0px solid #97C0D1;
	border-left:0px;
	border-right:20px solid #97C0D1;
	margin:0px 0px 0px;
}
.kalDR,.kalIR{
	/*clear:left;*/
	float:right;
	border:0px;
	border:0px solid #97C0D1;
	border-right:0px;
	border-left:20px solid #97C0D1;
}
.kalI,.kalII,.kalII1,.kalI1,.kalIR{
	width:350px;
	/*border-radius:0px 0px 4px 0px;
	box-shadow:5px 5px 10px #666; 
	clear:left;*/
}
.kalIR{
	/*border-radius:0px 0px 0px 4px;
	box-shadow:-5px -5px 10px #666;*/
}
.kalD,.kalDI,.kalDI1,.kalD1,.kalDR{
	width:750px;
	padding:0px 20px 0px 30px;
	border:0px;
}
.kalDR{
	padding: 0px 30px 0px 20px;
}
.contenedorTotalImg,.contenedorTotalImg40{
	margin:0px 0px 0px;
	padding:50px 0px 50px;
	border-top: solid 1px #DDD;
	
}
.contenedorTotalImg40{
	padding-bottom:40px;
}
.contenedorTotalImg50{
	margin:0px;
	padding:0px;
	width:25%;
	float:left;
}
.kalD h2,.kalDI h2,.kalDI1 h2,.kalD1 h2,.kalDR h2{
	border-bottom:1px solid #97C0D1;
	font-size:26px;
	padding-bottom:5px;
	margin-top:0px;
	padding-top:10px;
	margin-bottom:10px;
	padding-left:30px;
	margin-left:-30px;
	margin-right: -20px;
	/*box-shadow:5px 5px 10px #666;
	background-color:#97C0D1;
	color:#FFF;
	border-radius:0px 4px 4px 0px;*/
}
.kalDR h2{
	padding-left:20px;
	margin-left:-20px;
	margin-right:-30px;
	/*box-shadow:-5px -5px 10px #666;
	border-radius:4px 0px 0px 4px;*/
}

.kalDI,.kalDI1{
	display:none;
}
.kalII,.kalII1{
	width:100%;
	border:0px solid #97C0D1;
	border-bottom:20px solid #97C0D1;
	margin:0px;
}
.kalII,.kalII1{
	border:2px solid #CCC;
	border:2px solid #97C0D1;
	opacity:0.7;
	width:291px;
	height:193px;
	overflow:hidden;
}
.kalII:hover,.kalII1:hover{
	border:0px solid #97C0D1;
	width:295px;
	height:197px;
	opacity:1;
	
}
.comentario{
	padding:0px;
	margin-top:20px;
	/*border:1px dashed #97C0D1;
	border-radius:2px;*/
}
/****************************PIE*****************************/
footer p{
	margin-bottom:0px;
}
/*****************OTROS**********************************************/
.marT20{
	margin-top:20px;
}
p.marB20,.marB20{
	margin-bottom:20px;
}
.marT-30{
	margin-top:-30px;
	margin-bottom:30px;
}
.marT30{
	margin-top:30px;	
}
.marT60{
	margin-top:60px;
}
.der{
	float:right;	
}
.limpiar{
	clear:both;
}
.alineaC{
	text-align:center;
}
a.icoEdi{
	cursor:pointer;	
}
.opaco30{
	opacity:0.3;	
}
.modelo{
	/*display:none;	*/
}
@media (max-width: 1199px) {
	.kalI,.kalI1,.kalIR{
		width:350px;
	}
	.kalD,.kalD1,.kalDR{
		width:520px;
	}
	.kalII,.kalII1{
		width:231px;
		height:153px;
	}
	.kalII:hover,.kalII1:hover{
		width:235px;
		height:157px;
	}
}
@media (max-width: 979px) {
	body {
	padding-top: 0;
	}
	.menuBoton{
	  margin-top: 0px;
	}
	.collapse.in{
	  padding:0px;  
	}
	.usuario{
	clear: left;
	padding-bottom:10px;
	padding-top:5px;
	}
	.tituloP{
	  padding-left:10px;  
	}
	.marT60{
	margin-top:30px;	
	}
	/*.alineaC{
	  text-align:left;  
	}*/
    .kalI,.kalI1,.kalIR{
		width:280px;
	}
	.kalD,.kalD1,.kalDR{
		width:374px;
	}
	.kalII,.kalII1{
		width:177px;
		height:118px;
	}
	.kalII:hover,.kalII1:hover{
		width:181px;
		height:122px;
	}
}
@media (max-width: 767px) {
	.encimaT{
		border-top:solid 1px #ddd;
		padding-top:50px;
		margin-top:40px;
	}
	.btn-directoPri,.btn-directo,.btn-directoP,.btn-directoF{
		border: 0px;
		border-right: 1px solid #ddd;
	}
	/* .menuBoton,.separaMenu{
	  margin-right: -20px;
	  margin-left: -20px;  
	}*/
	.marT30{
	margin-top:30px;	
	}
    .kalI,.kalI1,.kalIR{
		width:100%;
		float:none;
		padding:0px 0px 0px 0px;
		border:0px;
		border-bottom:20px solid #97C0D1;
		margin:0px 0px 0px;
	}
	.kalD,.kalD1,.kalDR{
		width:100%;
		float:none;
		padding:0px 0px 0px 0px;
		border:0px;
	}
	.kalD h2,.kalD1 h2,.kalDR h2{
		border-bottom:1px solid #97C0D1;
		padding-bottom:5px;
		margin-bottom:5px;
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
	}
	.contenedorTotalImg50{
		width:90%;
		margin:0px 5% 20px;
	}
	.kalII,.kalII1{
		width:100%;
		height:auto;
		border:0px;
		opacity:1;
	}
	.kalII:hover,.kalII1:hover{
		border:0px;
		width:100%;
		height:auto;
	}
	.modelo{
		/*display:none;	*/
	}
	.carga .container{
		margin:0px 30px;
	}
	input.index{
		padding:20px 10px;
		display:block;
		font-size:18px;
	}
}
@media (max-width: 580px) {
	.btn-directoPri,.btn-directo,.btn-directoP,.btn-directoF{
		border:0px;
		width:46%;
		margin: 0px 2%;
		/**margin:0px;*/
		padding-left:0px;
		padding-right:0px;
		border-bottom: 1px solid #ddd;
	}
	.btn-directoP,.btn-directoF{
		border:0px;
		border-top: 1px solid #FFF;
	}
}
@media (max-width: 349px) {
	.btn-group + .btn-group {
  		margin-left: 0px;
		margin-top:10px;
		display:block;
	}
	#fondo{
		display:none;	
	}
}
@media (max-width: 334px) {
	.btn-directoPri,.btn-directo,.btn-directoP,.btn-directoF{
		width:100%;
		margin:0px;
	}
	.btn-directo{
		border-top: 1px solid #FFF;
	}
	.btn-directoP{
		border-bottom: 1px solid #ddd;
	}
}

@media (max-width: 250px) {
	.hero-unit .titulo{
		margin-left:-20px;	
	}
}